:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--GrayishBlue);
    font-weight: 400;
}

body {
    background: var(--VeryLightGray);
    margin: 0;
    padding: 0;
}

header {
    margin: 80px auto;
    width: 85%;
    max-width: 420px;
}

header h1 {
    font-size: 25px;
    text-align: center;
}

header h1 span {
    color: var(--VeryDarkBlue);
    font-weight: 200;
}

header h1 b {
    color: var(--VeryDarkBlue);
    font-weight: 600;
}

header p {
    text-align: center;
}

.flex-container {
    margin: 40px auto;
    width: 85%;
    max-width: 420px;

    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

article {
    width: 100%;
}

.supervisor,
.team-builder,
.karma, 
.calculator {
    background: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 5px;
    transition: transform .5s;
}

.supervisor:hover,
.team-builder:hover,
.karma:hover,
.calculator:hover {
    transform: scale(1.03);
}

.supervisor {
    border-top: 4px solid var(--Cyan);
}

.team-builder {
    border-top: 4px solid var(--Red);
}

.karma {
    border-top: 4px solid var(--Orange);
}

.calculator {
    border-top: 4px solid var(--Blue);
}

article h2 {
    color: var(--VeryDarkBlue);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

article p {
    font-size: 13px;
    margin: 0;
    line-height: 1.8;
    padding: 0 30px 30px 0;
}

article img {
    position: relative;
    right: -75%;
}

@media screen and (min-width: 900px) {
    .flex-container {
        width: 85%;
        max-width: 1100px;
        margin: 20px auto;

        flex-direction: row;
        gap: 25px;
        justify-content: center;
    }

    header {
        width: 85%;
        max-width: 550px;
    }

    header h1 {
        margin: auto;
        font-size: 35px;
        max-width: 500px;
    }

    article {
        width: 300px;
    }

    article img {
        margin: 0;
    }

    .supervisor,
    .calculator {
        transform: translate(0, 60%);
    }

    .supervisor:hover,
    .calculator:hover {
        transform: translate(0, 60%) scale(1.02);
    }

    .supervisor {
        order: 1;
    }

    .team-builder {
        order: 2;
    }

    .karma {
        order: 4;
    }

    .calculator {
        order: 3;
    }

    .attribution {
        margin-top: 150px;
    }

}

@media screen and (min-width: 1276px) {
    .attribution {
        margin-top: 0;
    }

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}